<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923522348938-v2mslomcitmjekrabv82idbpcmvq3jbq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923522348938-v2mslomcitmjekrabv82idbpcmvq3jbq</string>
	<key>API_KEY</key>
	<string>AIzaSyC4nizANq8VAkMK0oIo3ivnbH36LL3_OOA</string>
	<key>GCM_SENDER_ID</key>
	<string>923522348938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brewCrewKosova</string>
	<key>PROJECT_ID</key>
	<string>brew-crew-7d2e6</string>
	<key>STORAGE_BUCKET</key>
	<string>brew-crew-7d2e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923522348938:ios:5c30ae64458425ddf1ba73</string>
	<key>DATABASE_URL</key>
	<string>https://brew-crew-7d2e6.firebaseio.com</string>
</dict>
</plist>